 /*CSS Reset*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, 
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
/*	cursor:url(/plane3.gif), auto;
*/

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*CUSTOM STYLES*/

html {
	background:#D8D8D8;
	min-width: 700px;

}

@font-face {
  font-family: 'BigJohn';
  src: url('CSS/BigJohn/BigJohn.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BigJohn';
  src:  url('BigJohn/BigJohn.otf')  format('opentype'), 
	     url('BigJohn/BigJohn.woff') format('woff'), url('BigJohn/BigJohn.ttf')  format('truetype'), url('CSS/BigJohn/BigJohn.svg#BigJohn') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'SlimJoe';
  src: url('CSS/SlimJoe/SlimJoe.eot?#iefix') format('embedded-opentype'),  url('SlimJoe/SlimJoe.otf')  format('opentype'),
	     url('SlimJoe/SlimJoe.woff') format('woff'), url('SlimJoe/SlimJoe.ttf')  format('truetype'), url('CSS/SlimJoe/SlimJoe.svg#SlimJoe') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Bitter-Regular';
  src: url('Bitter-Regular.eot?#iefix') format('embedded-opentype'),  url('Bitter-Regular.woff') format('woff'), url('Bitter-Regular.ttf')  format('truetype'), url('Bitter-Regular.svg#Bitter-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'Cardo';
	src: url('Cardo-Bold.eot');
	src: url('Cardo-Bold.eot?#iefix') format('embedded-opentype'),
		url('Cardo-Bold.woff') format('woff'),
		url('Cardo-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Cardo';
	src: url('Cardo-Regular.eot');
	src: url('Cardo-Regular.eot?#iefix') format('embedded-opentype'),
		url('Cardo-Regular.woff') format('woff'),
		url('Cardo-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Cardo';
	src: url('Cardo-Italic.eot');
	src: url('Cardo-Italic.eot?#iefix') format('embedded-opentype'),
		url('Cardo-Italic.woff') format('woff'),
		url('Cardo-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}


h1 {
	font-family: 'BigJohn', sans-serif;
	font-size:28pt;
}
h2 {
	font-family: 'BigJohn', sans-serif;
	font-size:20pt;
}

h4 {
	font-family: 'Cardo', serif;
	font-size:22pt;
	color: white;
	line-height: 1.4em;
}

a {
	color: black;
	text-decoration: underline;
}
p {
	line-height: 1.3em;
	font-family: 'Cardo', serif;
}
section {
	clear: both;
}
.float-left {float: left;}

.half {width: 50%;}
#logo {
	text-align: center;
	padding:35px 30px 20px 30px;
text-shadow: 1px 3px 6px #787878;
	font-size: 40pt;
	color:white;
}

header {
/*	background: #003C4C;
*/
}
#dock {
	transition:.3s ease-in-out;
}
.docked {
	position: fixed;
	background: rgba(230, 230, 230, 0.90);
	top: 0;
	width: 100%;
    z-index: 15;
    transition:.3s ease-in-out;
  }

footer {
/*	background:#353535;
*/    padding-left: 20px;
    margin-top: -4px;
	background:#182819;

}
.social-icons {
	height: 50px;
	padding: 10px;
}

.nav-wrapper ul{
/*	max-width: 965px;
*/	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding: 0 20px;
}
nav li {
	float:left;
	white-space: nowrap;
	transition: 1s;
    display: block;
    width: 100%;
    }

nav li a {
	color:white;
	font-family: 'BigJohn', sans-serif;
	text-align: center;
	font-size: 23px;
    display: block;
    padding: 14px 0px;
    text-decoration: none;
    border:0;
    -webkit-text-stroke: 1px #5d5d5d;
}
nav li a:hover {
	font-weight: bold;
    text-decoration: none;
    color: black;


}
.active-nav {
	border-bottom: 3px dashed #003C4C;
	font-weight: bold;
}

#banner
{
	background-image: url('../IMG/poster.jpg ');
	background-repeat: : no-repeat;
	background-size: cover;
	width: 100%;
	height: 850px;
}

#events {
/*	background-image: url('../IMG/watercolor-green.jpg');
*//*	background: #51B349;
*/
background: linear-gradient(#1BD197 10.15%, #f5c1bf);
/*background:#1BD197;
*/padding-top:30px;
}
.section-title {
	text-align: center;
	color: white;
	padding: 50px 20px 0px 20px;
    font-size: 26pt;
}
#events-wrapper {
	width: 650px;
	margin: 0 auto;
	padding: 50px;
	height: 200px;
	box-sizing: content-box;
	padding-bottom: 350px;
}

.event-date {
	float:left;
	width:100px;
	background:white;
	text-align: center;
	line-height: 1.2;
	margin-right: 2px;
	box-sizing: content-box;
	font-family: 'BigJohn', sans-serif;
	border-radius: 35px 0 0 35px;
	border-left:dashed;
border-top:dashed;
border-bottom:dashed;
}

.event-description {
	float:left;
	width:500px;
/*	height: 200px;
*/	background:white;
	padding:20px;
	box-sizing: content-box;
	border-radius: 0 35px 35px 0;
	border-top:dashed;
	border-right:dashed;
	border-bottom:dashed;
}

.event-time {
	padding: 85px 10px;
}

/* Artist Carousel */

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
  }

  .artist-description {
  	font-family: 'BigJohn', sans-serif;
  	color: white;
  	font-size:30pt;
  	position: absolute;
	top: 50%;
	left: 30%;
	transform: translate(-30%, -50%);
	color: white;
	text-align: right;
	-webkit-text-stroke: 1px rgba(117, 117, 117, 1);
  }

#about {
/*	background-image: url('../IMG/watercolor-red.jpg');
*/	/*background:#00ABCC;*/
background:#192819;

	padding-top:30px;
}
.text-wrapper {
	max-width: 800px;
	margin:0 auto;
	padding:30px;
}
#gathering {
	border-radius: 0 35px 35px 0;
border-top: dashed;
border-right: dashed;
border-bottom:dashed;
}

#mission {
/*	background:#F6A623;
*//*	background-image: url('../IMG/watercolor-orange.jpg');
*/
/*background:#EF3E36
*/
background: linear-gradient(#f5c1bf 10.15%, #ef3e36);
padding-top:80px;

}
.mission {
/*	background:#F6A623;
*//*	background-image: url('../IMG/watercolor-orange.jpg');
*/
/*background:#EF3E36
*/
}

#mission-text {
	padding-top:30px;
	    padding: 30px;

}
#charity {
/*	background-image: url('../IMG/watercolor-blue.jpg');
*//*	background:#FF3517; */
/*background:#F6A623;*/
/*background:#CBE368;
*/background: linear-gradient(#ec4340 12.61%, #e6bdfb);
padding-top:200px;

}

.charities {
	width: 150px;
	height: 150px;
	opacity: .81;
}
#charity-wrapper {
	max-width: 800px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding:20px 50px;
}
#torn-edge {
	width: 100%;
/*	background:#353535
*/
	background:#182819;

}

/*Media Queries*/
@media only screen and (max-width: 1400px) {
	h4 {font-size: 20pt;}
}
@media only screen and (max-width: 1250px) {
	h4 {font-size: 18pt;}
}

@media only screen
and (max-width: 1100px) {
	h4 {font-size:15pt;}
	.artist-description {
		font-size: 24pt;
	}
}
@media only screen
and (max-width: 985px) {
	.half {width: 50%;}
	.artist-description {
		font-size: 22pt;
	}
	h4 {
		font-size: 12pt;
		padding: 0px;
	}
}
@media only screen
and (max-width: 850px) {
	.half {width: 100%;}
	#gathering {display: none;}
	.artist-description {
		font-size: 20pt;
	}
	h4 {
		font-size: 20pt;
	}
	#mission-text {
		padding-top:0;
	}

}

@media only screen
and (max-width: 730px) {
	.artist-description {
		font-size: 18pt;
	}
	}